<div class="flex w-full h-full justify-center items-center">
  <div class="w-96 p-8 shadow-lg">
    <h1 class="w-full text-center">{{isEditMode ? 'Edit' : 'Add'}} Expense</h1>

    <form [formGroup]="expenseForm" (ngSubmit)="onSubmit()">

      <div class="flex flex-col">
        <mat-form-field>
          <mat-label>Amount</mat-label>
          <input type="text" inputmode="numeric" matInput placeholder="152.23" formControlName="amount"
            autocomplete="off">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Category</mat-label>
          <mat-select formControlName="categoryId">
            <!-- <mat-option value="1">Vegetables</mat-option>
            <mat-option value="2">Fruits</mat-option>
            <mat-option value="3">Shopping</mat-option> -->
            <mat-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Details</mat-label>
          <input type="text" matInput placeholder="Milk" formControlName="details">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Date</mat-label>
          <input matInput [matDatepicker]="expenseDatePicker" formControlName="expenseDate" placeholder="yyyy-mm-dd">
          <mat-datepicker-toggle matSuffix [for]="expenseDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #expenseDatePicker></mat-datepicker>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Save Expense</button>

        <a mat-raised-button class="mt-2" routerLink="/expenses">Cancel</a>
      </div>
    </form>
    <ng-container *ngIf="isEditMode">
      <mat-divider class="my-4"></mat-divider>
      <button mat-raised-button class="w-full" color="warn" type="button" (click)="deleteExpense()">Delete Expense</button>
    </ng-container>
  </div>
</div>
