<mat-accordion multi>

  <!-- Summary Record -->
  <ng-container *ngIf="summary">
    <xtr-summary-record [data]="summary"></xtr-summary-record>
  </ng-container>

  <!-- Day Records -->
  <ng-container *ngFor="let dayRecord of dayRecords">
    <xtr-day-record [data]="dayRecord"></xtr-day-record>
  </ng-container>

  <!-- Botton padding for FAB -->
  <div class="pb-8"></div>
</mat-accordion>

<button mat-fab color="accent" class="fixed right-4 bottom-4" routerLink="./new">
  <mat-icon>add</mat-icon>
</button>
