.app-toolbar {
  position: fixed;
  top: 0;
  left:0;
  right: 0;
  padding: 0 16px;
  z-index: 10;
}

main {
  // Material Toolbar is `56px` tall on mobile devices.
  padding-top: 56px;

  @media (min-width: 600px) {
    // Material Toolbar is `64px` tall on devices other than mobiles.
    padding-top: 64px;
  }
}
